.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 0.75rem;
  color: inherit;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
}

.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #848f99;
}

.nav-link.disabled {
  color: #a0a6ae;
  pointer-events: none;
  cursor: default;
}
.nav-link-toggle {
  margin-left: auto;
  padding: 0 0.25rem;
  transition: 0.3s transform;
}
.nav-link-toggle:after {
  content: '';
  display: inline-block;
  vertical-align: 0.306em;
  width: 0.36em;
  height: 0.36em;
  border-bottom: 1px solid;
  border-left: 1px solid;
  margin-right: 0.1em;
  margin-left: 0.4em;
  transform: rotate(-45deg);
}
.nav-link-toggle:after {
  margin: 0;
}
.nav-link[aria-expanded='true'] .nav-link-toggle {
  transform: rotate(180deg);
}
.nav-link-icon {
  width: 1.5rem;
  height: 1.25rem;
  margin-right: 0.25rem;
  opacity: 0.7;
}
.nav-link-icon svg {
  display: block;
  height: 100%;
}
.nav-link {
  display: flex;
  transition: 0.3s color;
  align-items: center;
}
.nav-tabs {
  border-bottom: 1px solid #e7eaef;
}
.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: none;
  border: 1px solid transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: #f0f2f6 #f0f2f6 #e7eaef;
  isolation: isolate;
}
.nav-tabs .nav-link.disabled {
  color: #a0a6ae;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #6e7680;
  background-color: #f4f6fa;
  border-color: #e7eaef #e7eaef #f4f6fa;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nav-pills .nav-link {
  background: none;
  border: 0;
  border-radius: 4px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #206bc4;
  background-color: rgba(32, 107, 196, 0.06);
}
.nav-fill > .nav-link,
.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}
.nav-justified > .nav-link,
.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}
.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 100%;
}
.nav-bordered {
  border-bottom: 1px solid #e6e8e9;
}
.nav-bordered .nav-item + .nav-item {
  margin-left: 1.25rem;
}
.nav-bordered .nav-link {
  padding-left: 0;
  padding-right: 0;
  margin: 0 0 -1px;
  border: 0;
  border-bottom: 2px solid transparent;
}
.nav-bordered .nav-link.active,
.nav-bordered .nav-item.show .nav-link {
  color: #206bc4;
  border-color: #206bc4;
}

.nav-bordered {
  border-bottom: 1px solid #e6e7e9;
}
.nav-bordered .nav-item + .nav-item {
  margin-left: 1.25rem;
}
.nav-bordered .nav-link {
  padding-left: 0;
  padding-right: 0;
  margin: 0 0 -1px;
  border: 0;
  border-bottom: 2px solid transparent;
  color: #626976;
}
.nav-bordered .nav-link.active,
.nav-bordered .nav-item.show .nav-link {
  color: #206bc4;
  border-color: #206bc4;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 0;
}
.nav-link-ltr:hover::before, a.active::before {
  width: 100%;
}

.subnav {
  border-bottom: 1px solid #BBBBBB;
  padding-left: 30px;
  height: 24px;
  line-height: 0;
  margin-top: 30px;
  color: #151b26;
}
.subnav .active {
  color: #008ce3;
}

.subnav .active::before {
  background-color: #008ce3;
}

.subnav ul {
  list-style-type: none;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 0;
}

.nav-link-ltr:hover::before, a.active::before {
  width: 100%;
}
