/**
tabs
*/
#tabs #tabContent1,
#tabs #tabContent2,
#tabs #tabContent3 {
  display: none;
}

#tabs input[type=radio] {
  display: none;
}

#tabs label {
  display: inline-block;
  margin: 0;
  padding: 8px;
  font-weight: 500;
  color: #232e3c
}

#tabs label::before {
  font-weight: normal;
  margin-right: 20px;
}

#tabs label:hover {
  color: #888;
  cursor: pointer;
}

#tabs input:checked+label {
  color: rgb(35, 46, 60, 0.7);
  border-bottom: 2px solid #206bc4;
}

#tab1:checked~.contents #tabContent1,
#tab2:checked~.contents #tabContent2,
#tab3:checked~.contents #tabContent3 {
  display: block;
}