<div class="navbar-expand-md">
  <div class="navbar navbar-light">
    <div class="container-xl">
      <ul class="navbar-nav">
        <li class="nav-item <%- opcion === 'INICIO' ? 'active':'' %>">
          <a class="nav-link nav-link-ltr" href="/user">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" height="20" width="20" viewBox="0 0 20 20">
                <path
                  d="M5.5 15.5h2.583v-4.896h3.834V15.5H14.5V8.25L10 4.833 5.5 8.25Zm-.667.667v-8.25L10 4l5.167 3.917v8.25H11.25v-4.896h-2.5v4.896Zm5.167-6Z" />
              </svg>
            </span>
            Inicio
            </span>
          </a>
        </li>
        <li class="nav-item <%- opcion === 'FORMULARIO' ? 'active':'' %>">
          <a class="nav-link nav-link-ltr" href="/user/loterias" onclick="document.cookie='filtro=;Path=/;Expires=Thu, 01 Jan 1970 00:00:01 GMT;';">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" height="20" width="20" viewBox="0 0 20 20">
                <path d="M6.75 7.333q.229 0 .406-.166.177-.167.177-.417 0-.229-.166-.406Q7 6.167 6.75 6.167q-.229 0-.406.166-.177.167-.177.417 0 .229.166.406.167.177.417.177Zm0 3.25q.229 0 .406-.166.177-.167.177-.417 0-.229-.166-.406Q7 9.417 6.75 9.417q-.229 0-.406.166-.177.167-.177.417 0 .229.166.406.167.177.417.177Zm0 3.25q.229 0 .406-.166.177-.167.177-.417 0-.229-.166-.406-.167-.177-.417-.177-.229 0-.406.166-.177.167-.177.417 0 .229.166.406.167.177.417.177Zm-1.729 2.334q-.521 0-.854-.334-.334-.333-.334-.854V5.021q0-.521.334-.854.333-.334.854-.334h7.625l3.521 3.521v7.625q0 .521-.334.854-.333.334-.854.334Zm0-.667h9.958q.229 0 .375-.146t.146-.375V8H12V4.5H5.021q-.229 0-.375.146t-.146.375v9.958q0 .229.146.375t.375.146ZM4.5 4.5v3.25V4.5v11V4.5Z" />
              </svg>
            </span>
            <span class="nav-link-title">
              Pedidos
            </span>
          </a>
        </li>
        <li class="nav-item dropdown <%- opcion === 'ADMINISTRACION' ? 'active':'' %>">
          <a class="nav-link nav-link-ltr dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside"
            role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24">
                <path
                  d="m10.475 20.575-.35-2.775q-.4-.1-1.05-.45t-1.225-.8l-2.525 1.075-1.525-2.7 2.2-1.65q-.075-.3-.1-.613-.025-.312-.025-.637 0-.275.037-.587L6 10.7 3.8 9.05 5.325 6.4 7.85 7.475q.5-.425 1.088-.762.587-.338 1.162-.538l.375-2.775h3.075l.35 2.8q.65.225 1.138.513.487.287 1.012.762L18.7 6.4l1.525 2.65L17.9 10.8q.075.35.1.625.025.275.025.575 0 .25-.025.537-.025.288-.1.713l2.275 1.675-1.55 2.7L16.05 16.5q-.5.45-1.012.762-.513.313-1.138.513l-.35 2.8Zm1.45-6.45q.9 0 1.525-.613.625-.612.625-1.512t-.625-1.525q-.625-.625-1.525-.625-.9 0-1.512.625Q9.8 11.1 9.8 12q0 .9.613 1.512.612.613 1.512.613Zm0-.625q-.625 0-1.062-.438-.438-.437-.438-1.062t.438-1.062q.437-.438 1.062-.438t1.063.438q.437.437.437 1.062t-.437 1.062q-.438.438-1.063.438ZM12 11.975Zm-1 7.95h1.95l.375-2.725q.75-.2 1.313-.525.562-.325 1.212-.95l2.5 1.075 1-1.675-2.225-1.65q.125-.45.163-.8.037-.35.037-.675 0-.375-.037-.688-.038-.312-.163-.737L19.4 8.85l-.975-1.675-2.6 1.075q-.4-.45-1.162-.9-.763-.45-1.363-.575L13 4.05h-2l-.275 2.725q-.775.15-1.375.475-.6.325-1.25.975l-2.5-1.05-1 1.675 2.175 1.625q-.125.325-.175.725-.05.4-.05.8 0 .375.05.738.05.362.15.737l-2.15 1.65 1 1.675 2.475-1.05q.6.625 1.213.962.612.338 1.387.513Z" />
              </svg>
            </span>
            <span class="nav-link-title">
              Administración
            </span>
          </a>
          <div class="dropdown-menu">
            <a href="/admin/loterias" class="dropdown-item" onclick="document.cookie='filtro=;Path=/;Expires=Thu, 01 Jan 1970 00:00:01 GMT;';">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                <path stroke-width=".3" d="M6.75 7.333q.229 0 .406-.166.177-.167.177-.417 0-.229-.166-.406Q7 6.167 6.75 6.167q-.229 0-.406.166-.177.167-.177.417 0 .229.166.406.167.177.417.177Zm0 3.25q.229 0 .406-.166.177-.167.177-.417 0-.229-.166-.406Q7 9.417 6.75 9.417q-.229 0-.406.166-.177.167-.177.417 0 .229.166.406.167.177.417.177Zm0 3.25q.229 0 .406-.166.177-.167.177-.417 0-.229-.166-.406-.167-.177-.417-.177-.229 0-.406.166-.177.167-.177.417 0 .229.166.406.167.177.417.177Zm-1.729 2.334q-.521 0-.854-.334-.334-.333-.334-.854V5.021q0-.521.334-.854.333-.334.854-.334h7.625l3.521 3.521v7.625q0 .521-.334.854-.333.334-.854.334Zm0-.667h9.958q.229 0 .375-.146t.146-.375V8H12V4.5H5.021q-.229 0-.375.146t-.146.375v9.958q0 .229.146.375t.375.146ZM4.5 4.5v3.25V4.5v11V4.5Z" />
              </svg>
              Pedidos
            </a>            
            <a href="/admin/usuarios" class="dropdown-item" onclick="document.cookie='filtro=;Path=/;Expires=Thu, 01 Jan 1970 00:00:01 GMT;';">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                <path stroke-width=".3" d="M3.275 18.025V16.8q0-.625.325-1.05.325-.425.875-.7 1.225-.575 2.388-.925 1.162-.35 2.987-.35 1.825 0 2.988.35 1.162.35 2.387.925.575.275.9.7.325.425.325 1.05v1.225Zm15.15 0v-1.2q0-.8-.275-1.475t-.75-1.175q.525.175 1.05.4.525.225 1.1.475.55.275.875.75.325.475.325 1.025v1.2ZM9.85 11.2q-1.1 0-1.862-.762-.763-.763-.763-1.863 0-1.075.763-1.85.762-.775 1.862-.775t1.863.775q.762.775.762 1.85 0 1.1-.762 1.863-.763.762-1.863.762Zm6.225-2.625q0 1.1-.763 1.863-.762.762-1.862.762h.075q.45-.525.688-1.2.237-.675.237-1.425 0-.725-.262-1.388-.263-.662-.663-1.237h-.075q1.1 0 1.862.775.763.775.763 1.85ZM3.9 17.4h11.9v-.575q0-.4-.187-.675-.188-.275-.713-.55-1.05-.575-2.237-.888-1.188-.312-2.813-.312-1.625 0-2.813.312-1.187.313-2.237.888-.525.275-.712.55-.188.275-.188.65Zm5.95-6.825q.825 0 1.413-.575.587-.575.587-1.4 0-.85-.587-1.425Q10.675 6.6 9.85 6.6q-.825 0-1.4.575t-.575 1.4q0 .825.575 1.412.575.588 1.4.588Zm0 6.825Zm0-8.825Z" />
              </svg>
              Usuarios
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>