<div class="navbar-expand-md">
  <div class="navbar navbar-light">
    <div class="container-xl">
      <ul class="navbar-nav">
        <li class="nav-item <%- opcion === 'INICIO' ? 'active':'' %>">
          <a class="nav-link" href="/admin">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" height="20" width="20" viewBox="0 0 20 20">
                <path
                  d="M5.5 15.5h2.583v-4.896h3.834V15.5H14.5V8.25L10 4.833 5.5 8.25Zm-.667.667v-8.25L10 4l5.167 3.917v8.25H11.25v-4.896h-2.5v4.896Zm5.167-6Z" />
              </svg>
            </span>
            Inicio
            </span>
          </a>
        </li>
        <li class="nav-item <%- opcion === 'FORMULARIO' ? 'active':'' %>">
          <a class="nav-link" href="/admin/formularios">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" height="20" width="20" viewBox="0 0 20 20">
                <path
                  d="M6.75 7.333q.229 0 .406-.166.177-.167.177-.417 0-.229-.166-.406Q7 6.167 6.75 6.167q-.229 0-.406.166-.177.167-.177.417 0 .229.166.406.167.177.417.177Zm0 3.25q.229 0 .406-.166.177-.167.177-.417 0-.229-.166-.406Q7 9.417 6.75 9.417q-.229 0-.406.166-.177.167-.177.417 0 .229.166.406.167.177.417.177Zm0 3.25q.229 0 .406-.166.177-.167.177-.417 0-.229-.166-.406-.167-.177-.417-.177-.229 0-.406.166-.177.167-.177.417 0 .229.166.406.167.177.417.177Zm-1.729 2.334q-.521 0-.854-.334-.334-.333-.334-.854V5.021q0-.521.334-.854.333-.334.854-.334h7.625l3.521 3.521v7.625q0 .521-.334.854-.333.334-.854.334Zm0-.667h9.958q.229 0 .375-.146t.146-.375V8H12V4.5H5.021q-.229 0-.375.146t-.146.375v9.958q0 .229.146.375t.375.146ZM4.5 4.5v3.25V4.5v11V4.5Z" />
              </svg>
            </span>
            <span class="nav-link-title">
              Formularios
            </span>
          </a>
        </li>
        <li class="nav-item dropdown <%- opcion === 'ADMINISTRACION' ? 'active':'' %>">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24">
                <path
                  d="m10.475 20.575-.35-2.775q-.4-.1-1.05-.45t-1.225-.8l-2.525 1.075-1.525-2.7 2.2-1.65q-.075-.3-.1-.613-.025-.312-.025-.637 0-.275.037-.587L6 10.7 3.8 9.05 5.325 6.4 7.85 7.475q.5-.425 1.088-.762.587-.338 1.162-.538l.375-2.775h3.075l.35 2.8q.65.225 1.138.513.487.287 1.012.762L18.7 6.4l1.525 2.65L17.9 10.8q.075.35.1.625.025.275.025.575 0 .25-.025.537-.025.288-.1.713l2.275 1.675-1.55 2.7L16.05 16.5q-.5.45-1.012.762-.513.313-1.138.513l-.35 2.8Zm1.45-6.45q.9 0 1.525-.613.625-.612.625-1.512t-.625-1.525q-.625-.625-1.525-.625-.9 0-1.512.625Q9.8 11.1 9.8 12q0 .9.613 1.512.612.613 1.512.613Zm0-.625q-.625 0-1.062-.438-.438-.437-.438-1.062t.438-1.062q.437-.438 1.062-.438t1.063.438q.437.437.437 1.062t-.437 1.062q-.438.438-1.063.438ZM12 11.975Zm-1 7.95h1.95l.375-2.725q.75-.2 1.313-.525.562-.325 1.212-.95l2.5 1.075 1-1.675-2.225-1.65q.125-.45.163-.8.037-.35.037-.675 0-.375-.037-.688-.038-.312-.163-.737L19.4 8.85l-.975-1.675-2.6 1.075q-.4-.45-1.162-.9-.763-.45-1.363-.575L13 4.05h-2l-.275 2.725q-.775.15-1.375.475-.6.325-1.25.975l-2.5-1.05-1 1.675 2.175 1.625q-.125.325-.175.725-.05.4-.05.8 0 .375.05.738.05.362.15.737l-2.15 1.65 1 1.675 2.475-1.05q.6.625 1.213.962.612.338 1.387.513Z" />
              </svg>
            </span>
            <span class="nav-link-title">
              Administración
            </span>
          </a>
          <div class="dropdown-menu">
            <a href="/admin/oficinas" class="dropdown-item">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline me-2" width="24" height="24" viewBox="0 0 24 24"
                  stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke-width=".4" fill="none"
                  d="M17.275 8.7h1.35V7.375h-1.35Zm0 3.975h1.35v-1.35h-1.35Zm0 3.95h1.35V15.3h-1.35Zm-1.6 2.95v-.625h5.275V5.05h-9.775v2.5l-.625-.45V4.425h11.025v15.15Zm-13.25 0v-7.9l5.6-3.975 5.6 3.975v7.9H9.45V15.3H6.6v4.275Zm.65-.625h2.9v-4.3H10.1v4.3H13V12L8.025 8.525 3.075 12Zm12.6-8.175ZM10.1 18.95v-4.3H5.975v4.3-4.3H10.1Z" />
                </svg>
                Oficinas
            </a>
            <a href="/admin/tipos" class="dropdown-item">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline me-2" width="24" height="24" viewBox="0 0 24 24"
                stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke-width=".4"
                  d="M9.3 21.425q-1.15 0-2-.737-.85-.738-1.1-1.838-.275.525-.8.787-.525.263-1.1.263-.95 0-1.637-.663-.688-.662-.688-1.637 0-.9.637-1.612.638-.713 1.613-.663-.575-.45-.9-1.137Q3 13.5 3 12.775q0-.8.388-1.5.387-.7 1.087-1.125.05.15.138.3.087.15.137.275-.55.4-.825.937-.275.538-.275 1.113 0 1.625 1.162 2.125 1.163.5 2.438.75l.125.225q-.275.825-.437 1.375-.163.55-.163 1.025 0 1 .725 1.75t1.775.75q1.1 0 1.813-.788.712-.787 1.162-1.875.45-1.087.713-2.262.262-1.175.437-1.95l.625.175q-.2.95-.475 2.213-.275 1.262-.775 2.412t-1.337 1.938q-.838.787-2.138.787Zm-5-2.15q.7 0 1.2-.5T6 17.6q0-.7-.5-1.2t-1.2-.5q-.675 0-1.175.5t-.5 1.2q0 .675.5 1.175t1.175.5Zm5.8-4.225q-.975-.875-1.788-1.638-.812-.762-1.4-1.5-.587-.737-.899-1.462Q5.7 9.725 5.7 8.925q0-1.35.913-2.263.912-.912 2.237-.912.35 0 .625.037.275.038.5.113-.125-.225-.2-.475Q9.7 5.175 9.7 4.9q0-.975.663-1.65.662-.675 1.637-.675t1.65.675q.675.675.675 1.65 0 .275-.075.525t-.225.475q.225-.075.513-.113.287-.037.612-.037 1.025 0 1.812.562.788.563 1.113 1.463h-.7q-.275-.625-.862-1.013-.588-.387-1.363-.387-.95 0-1.525.487-.575.488-1.5 1.538h-.275q-.95-1.075-1.512-1.55-.563-.475-1.488-.475-1.1 0-1.813.725-.712.725-.712 1.825 0 .575.288 1.2.287.625.825 1.313.537.687 1.325 1.474.787.788 1.812 1.688ZM12 6.575q.7 0 1.2-.5t.5-1.175q0-.7-.5-1.2T12 3.2q-.675 0-1.175.5t-.5 1.2q0 .675.5 1.175t1.175.5Zm2.625 14.875q-.325 0-.625-.063-.3-.062-.575-.212.05-.125.15-.287.1-.163.175-.313.225.125.463.175.237.05.462.05 1.025 0 1.788-.75.762-.75.762-1.775 0-.475-.175-1.012-.175-.538-.425-1.363l.125-.225q1.325-.25 2.475-.763 1.15-.512 1.15-2.112 0-1.3-.9-1.937-.9-.638-2.025-.638-1 0-2.337.337-1.338.338-3.063.888l-.175-.625q1.625-.525 2.963-.9 1.337-.375 2.437-.375 1.45 0 2.588.837Q21 11.225 21 12.8q0 .725-.312 1.375-.313.65-.888 1.15.975-.025 1.6.663.625.687.625 1.612t-.675 1.612q-.675.688-1.65.688-.575 0-1.087-.263-.513-.262-.788-.787-.275 1.125-1.15 1.862-.875.738-2.05.738Zm5.1-2.175q.7 0 1.188-.5.487-.5.487-1.175 0-.7-.5-1.213-.5-.512-1.2-.512-.675 0-1.175.5t-.5 1.2q0 .675.513 1.187.512.513 1.187.513ZM4.3 17.6ZM12 4.9Zm7.7 12.675Z" />
              </svg>
              Tipos
            </a>
            <a href="/admin/usuarios" class="dropdown-item">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline me-2" width="24" height="24" viewBox="0 0 24 24"
                stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke-width=".4"
                  d="M3.275 18.025V16.8q0-.625.325-1.05.325-.425.875-.7 1.225-.575 2.388-.925 1.162-.35 2.987-.35 1.825 0 2.988.35 1.162.35 2.387.925.575.275.9.7.325.425.325 1.05v1.225Zm15.15 0v-1.2q0-.8-.275-1.475t-.75-1.175q.525.175 1.05.4.525.225 1.1.475.55.275.875.75.325.475.325 1.025v1.2ZM9.85 11.2q-1.1 0-1.862-.762-.763-.763-.763-1.863 0-1.075.763-1.85.762-.775 1.862-.775t1.863.775q.762.775.762 1.85 0 1.1-.762 1.863-.763.762-1.863.762Zm6.225-2.625q0 1.1-.763 1.863-.762.762-1.862.762h.075q.45-.525.688-1.2.237-.675.237-1.425 0-.725-.262-1.388-.263-.662-.663-1.237h-.075q1.1 0 1.862.775.763.775.763 1.85ZM3.9 17.4h11.9v-.575q0-.4-.187-.675-.188-.275-.713-.55-1.05-.575-2.237-.888-1.188-.312-2.813-.312-1.625 0-2.813.312-1.187.313-2.237.888-.525.275-.712.55-.188.275-.188.65Zm5.95-6.825q.825 0 1.413-.575.587-.575.587-1.4 0-.85-.587-1.425Q10.675 6.6 9.85 6.6q-.825 0-1.4.575t-.575 1.4q0 .825.575 1.412.575.588 1.4.588Zm0 6.825Zm0-8.825Z" />
              </svg>
              Usuarios
            </a>
            <a href="/admin/cargas" class="dropdown-item">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline me-2" width="24" height="24" viewBox="0 0 24 24"
                stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke-width=".4"
                  d="M6.85 18.525q-.6 0-1.012-.413-.413-.412-.413-1.037V14.9h.625v2.175q0 .325.25.562.25.238.55.238h10.3q.3 0 .55-.238.25-.237.25-.562V14.9h.65v2.175q0 .625-.425 1.037-.425.413-1.025.413Zm4.85-3.575V6.175L9.475 8.4l-.45-.425 2.975-3 3 3-.45.425-2.225-2.225v8.775Z" />
              </svg>
              Carga csv
            </a>
            <div class="dropdown-divider"></div>
            <a href="/admin/estadisticas" class="dropdown-item">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline me-2" width="24" height="24" viewBox="0 0 24 24"
                stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke-width=".4"
                  d="m2.45 17.2-.525-.4L6.1 10.15l2.975 3.5 3.95-6.4 1.875 2.825q-.175.05-.325.087-.15.038-.3.088L13.05 8.425l-3.85 6.3L6.175 11.2Zm19.125 4.825-3.5-3.475q-.45.325-.95.5-.5.175-1.05.175-1.325 0-2.237-.913-.913-.912-.913-2.237 0-1.35.913-2.263.912-.912 2.237-.912 1.325 0 2.25.925t.925 2.25q0 .55-.188 1.075-.187.525-.537.95l3.525 3.475Zm-5.5-3.425q1.075 0 1.813-.725.737-.725.737-1.8 0-1.075-.737-1.813-.738-.737-1.813-.737-1.05 0-1.787.737-.738.738-.738 1.813 0 1.05.725 1.788.725.737 1.8.737Zm1.675-8.425q-.175-.05-.325-.075l-.3-.05 4.45-7.1.525.4Z" />
              </svg>
              Estadísticas
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>