<div class="navbar-expand-md">
  <div class="navbar navbar-light">
    <div class="container-xl">
      <ul class="navbar-nav">
        <li class="nav-item <%- opcion === 'INICIO' ? 'active':'' %>">
          <a class="nav-link nav-link-ltr" href="/user">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" height="20" width="20" viewBox="0 0 20 20">
                <path
                  d="M5.5 15.5h2.583v-4.896h3.834V15.5H14.5V8.25L10 4.833 5.5 8.25Zm-.667.667v-8.25L10 4l5.167 3.917v8.25H11.25v-4.896h-2.5v4.896Zm5.167-6Z" />
              </svg>
            </span>
            Inicio
            </span>
          </a>
        </li>
        <li class="nav-item <%- opcion === 'FORMULARIO' ? 'active':'' %>">
          <a class="nav-link nav-link-ltr" href="/user/formularios" onclick="document.cookie='filtro=;Path=/;Expires=Thu, 01 Jan 1970 00:00:01 GMT;';">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" height="20" width="20" viewBox="0 0 20 20">
                <path d="M6.75 7.333q.229 0 .406-.166.177-.167.177-.417 0-.229-.166-.406Q7 6.167 6.75 6.167q-.229 0-.406.166-.177.167-.177.417 0 .229.166.406.167.177.417.177Zm0 3.25q.229 0 .406-.166.177-.167.177-.417 0-.229-.166-.406Q7 9.417 6.75 9.417q-.229 0-.406.166-.177.167-.177.417 0 .229.166.406.167.177.417.177Zm0 3.25q.229 0 .406-.166.177-.167.177-.417 0-.229-.166-.406-.167-.177-.417-.177-.229 0-.406.166-.177.167-.177.417 0 .229.166.406.167.177.417.177Zm-1.729 2.334q-.521 0-.854-.334-.334-.333-.334-.854V5.021q0-.521.334-.854.333-.334.854-.334h7.625l3.521 3.521v7.625q0 .521-.334.854-.333.334-.854.334Zm0-.667h9.958q.229 0 .375-.146t.146-.375V8H12V4.5H5.021q-.229 0-.375.146t-.146.375v9.958q0 .229.146.375t.375.146ZM4.5 4.5v3.25V4.5v11V4.5Z" />
              </svg>
            </span>
            <span class="nav-link-title">
              Formularios
            </span>
          </a>
        </li>
        <li class="nav-item dropdown <%- opcion === 'ADMINISTRACION' ? 'active':'' %>">
          <a class="nav-link nav-link-ltr dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside"
            role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24">
                <path
                  d="m10.475 20.575-.35-2.775q-.4-.1-1.05-.45t-1.225-.8l-2.525 1.075-1.525-2.7 2.2-1.65q-.075-.3-.1-.613-.025-.312-.025-.637 0-.275.037-.587L6 10.7 3.8 9.05 5.325 6.4 7.85 7.475q.5-.425 1.088-.762.587-.338 1.162-.538l.375-2.775h3.075l.35 2.8q.65.225 1.138.513.487.287 1.012.762L18.7 6.4l1.525 2.65L17.9 10.8q.075.35.1.625.025.275.025.575 0 .25-.025.537-.025.288-.1.713l2.275 1.675-1.55 2.7L16.05 16.5q-.5.45-1.012.762-.513.313-1.138.513l-.35 2.8Zm1.45-6.45q.9 0 1.525-.613.625-.612.625-1.512t-.625-1.525q-.625-.625-1.525-.625-.9 0-1.512.625Q9.8 11.1 9.8 12q0 .9.613 1.512.612.613 1.512.613Zm0-.625q-.625 0-1.062-.438-.438-.437-.438-1.062t.438-1.062q.437-.438 1.062-.438t1.063.438q.437.437.437 1.062t-.437 1.062q-.438.438-1.063.438ZM12 11.975Zm-1 7.95h1.95l.375-2.725q.75-.2 1.313-.525.562-.325 1.212-.95l2.5 1.075 1-1.675-2.225-1.65q.125-.45.163-.8.037-.35.037-.675 0-.375-.037-.688-.038-.312-.163-.737L19.4 8.85l-.975-1.675-2.6 1.075q-.4-.45-1.162-.9-.763-.45-1.363-.575L13 4.05h-2l-.275 2.725q-.775.15-1.375.475-.6.325-1.25.975l-2.5-1.05-1 1.675 2.175 1.625q-.125.325-.175.725-.05.4-.05.8 0 .375.05.738.05.362.15.737l-2.15 1.65 1 1.675 2.475-1.05q.6.625 1.213.962.612.338 1.387.513Z" />
              </svg>
            </span>
            <span class="nav-link-title">
              Administración
            </span>
          </a>
          <div class="dropdown-menu">
            <a href="/admin/formularios" class="dropdown-item" onclick="document.cookie='filtro=;Path=/;Expires=Thu, 01 Jan 1970 00:00:01 GMT;';">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                <path stroke-width=".3" d="M6.75 7.333q.229 0 .406-.166.177-.167.177-.417 0-.229-.166-.406Q7 6.167 6.75 6.167q-.229 0-.406.166-.177.167-.177.417 0 .229.166.406.167.177.417.177Zm0 3.25q.229 0 .406-.166.177-.167.177-.417 0-.229-.166-.406Q7 9.417 6.75 9.417q-.229 0-.406.166-.177.167-.177.417 0 .229.166.406.167.177.417.177Zm0 3.25q.229 0 .406-.166.177-.167.177-.417 0-.229-.166-.406-.167-.177-.417-.177-.229 0-.406.166-.177.167-.177.417 0 .229.166.406.167.177.417.177Zm-1.729 2.334q-.521 0-.854-.334-.334-.333-.334-.854V5.021q0-.521.334-.854.333-.334.854-.334h7.625l3.521 3.521v7.625q0 .521-.334.854-.333.334-.854.334Zm0-.667h9.958q.229 0 .375-.146t.146-.375V8H12V4.5H5.021q-.229 0-.375.146t-.146.375v9.958q0 .229.146.375t.375.146ZM4.5 4.5v3.25V4.5v11V4.5Z" />
              </svg>
              Formularios
            </a>            
            <a href="/admin/oficinas" class="dropdown-item" onclick="document.cookie='filtro=;Path=/;Expires=Thu, 01 Jan 1970 00:00:01 GMT;';">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                <path stroke-width=".3" d="M17.275 8.7h1.35V7.375h-1.35Zm0 3.975h1.35v-1.35h-1.35Zm0 3.95h1.35V15.3h-1.35Zm-1.6 2.95v-.625h5.275V5.05h-9.775v2.5l-.625-.45V4.425h11.025v15.15Zm-13.25 0v-7.9l5.6-3.975 5.6 3.975v7.9H9.45V15.3H6.6v4.275Zm.65-.625h2.9v-4.3H10.1v4.3H13V12L8.025 8.525 3.075 12Zm12.6-8.175ZM10.1 18.95v-4.3H5.975v4.3-4.3H10.1Z" />
              </svg>
              Oficinas
            </a>
            <a href="/admin/tipos" class="dropdown-item" onclick="document.cookie='filtro=;Path=/;Expires=Thu, 01 Jan 1970 00:00:01 GMT;';">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline me-2" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke-width=".4" fill="none" d="M8.025 8.75q.3 0 .513-.225.212-.225.212-.5t-.225-.5Q8.3 7.3 8.05 7.3q-.3 0-.513.225-.212.225-.212.5t.212.5q.213.225.488.225Zm0 3.95q.275 0 .5-.213.225-.212.225-.487 0-.3-.225-.513-.225-.212-.475-.212-.3 0-.513.212-.212.213-.212.513 0 .275.212.487.213.213.488.213Zm0 3.975q.3 0 .513-.213.212-.212.212-.487 0-.3-.225-.513-.225-.212-.475-.212-.3 0-.513.225-.212.225-.212.475 0 .3.212.512.213.213.488.213Zm-2.175 2.9q-.6 0-1.012-.412-.413-.413-.413-1.013V5.85q0-.6.413-1.025Q5.25 4.4 5.85 4.4h9.55l4.2 4.2v9.55q0 .6-.425 1.013-.425.412-1.025.412Zm0-.625h12.3q.35 0 .575-.225.225-.225.225-.575V9.025h-3.975V5.05H5.85q-.35 0-.575.225-.225.225-.225.575v12.3q0 .35.225.575.225.225.575.225Zm-.8-13.9v3.975V5.05 18.95 5.05Z" />
              </svg>
              Tipos
            </a>
            <a href="/admin/usuarios" class="dropdown-item" onclick="document.cookie='filtro=;Path=/;Expires=Thu, 01 Jan 1970 00:00:01 GMT;';">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                <path stroke-width=".3" d="M3.275 18.025V16.8q0-.625.325-1.05.325-.425.875-.7 1.225-.575 2.388-.925 1.162-.35 2.987-.35 1.825 0 2.988.35 1.162.35 2.387.925.575.275.9.7.325.425.325 1.05v1.225Zm15.15 0v-1.2q0-.8-.275-1.475t-.75-1.175q.525.175 1.05.4.525.225 1.1.475.55.275.875.75.325.475.325 1.025v1.2ZM9.85 11.2q-1.1 0-1.862-.762-.763-.763-.763-1.863 0-1.075.763-1.85.762-.775 1.862-.775t1.863.775q.762.775.762 1.85 0 1.1-.762 1.863-.763.762-1.863.762Zm6.225-2.625q0 1.1-.763 1.863-.762.762-1.862.762h.075q.45-.525.688-1.2.237-.675.237-1.425 0-.725-.262-1.388-.263-.662-.663-1.237h-.075q1.1 0 1.862.775.763.775.763 1.85ZM3.9 17.4h11.9v-.575q0-.4-.187-.675-.188-.275-.713-.55-1.05-.575-2.237-.888-1.188-.312-2.813-.312-1.625 0-2.813.312-1.187.313-2.237.888-.525.275-.712.55-.188.275-.188.65Zm5.95-6.825q.825 0 1.413-.575.587-.575.587-1.4 0-.85-.587-1.425Q10.675 6.6 9.85 6.6q-.825 0-1.4.575t-.575 1.4q0 .825.575 1.412.575.588 1.4.588Zm0 6.825Zm0-8.825Z" />
              </svg>
              Usuarios
            </a>
            <a href="/admin/historicos" class="dropdown-item" onclick="document.cookie='filtro=;Path=/;Expires=Thu, 01 Jan 1970 00:00:01 GMT;';">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                <path stroke-width=".3" d="M11 12.65q.3 0 .488-.2.187-.2.187-.45 0-.3-.2-.488-.2-.187-.475-.187-.25 0-.45.2t-.2.475q0 .25.2.45t.45.2Zm-4.025 7v-.625l7.4-.6v-12.1q0-.65-.45-1.1-.45-.45-1.075-.525l-5.075-.4v-.625l5.2.4q.85.075 1.438.712Q15 5.425 15 6.3v12.725Zm-2.025 0v-.625h1.4V5.1q0-.6.413-1.013.412-.412 1.012-.412h8.475q.6 0 1.013.412.412.413.412 1.013v13.925h1.4v.625Zm2.025-.625H17.05V5.1q0-.325-.238-.563-.237-.237-.562-.237H7.775q-.35 0-.575.237-.225.238-.225.563Z" />
              </svg>
              Históricos
            </a>
            <a href="/admin/cargas" class="dropdown-item" onclick="document.cookie='filtro=;Path=/;Expires=Thu, 01 Jan 1970 00:00:01 GMT;';">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline me-2" width="24" height="24"
                viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke-width=".4"
                  d="M6.85 18.525q-.6 0-1.012-.413-.413-.412-.413-1.037V14.9h.625v2.175q0 .325.25.562.25.238.55.238h10.3q.3 0 .55-.238.25-.237.25-.562V14.9h.65v2.175q0 .625-.425 1.037-.425.413-1.025.413Zm4.85-3.575V6.175L9.475 8.4l-.45-.425 2.975-3 3 3-.45.425-2.225-2.225v8.775Z" />
              </svg>
              Carga csv
            </a>
            <div class="dropdown-divider"></div>
            <a href="/admin/estadisticas" class="dropdown-item">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline me-2" width="24" height="24"
                viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke-width=".4"
                  d="m2.45 17.2-.525-.4L6.1 10.15l2.975 3.5 3.95-6.4 1.875 2.825q-.175.05-.325.087-.15.038-.3.088L13.05 8.425l-3.85 6.3L6.175 11.2Zm19.125 4.825-3.5-3.475q-.45.325-.95.5-.5.175-1.05.175-1.325 0-2.237-.913-.913-.912-.913-2.237 0-1.35.913-2.263.912-.912 2.237-.912 1.325 0 2.25.925t.925 2.25q0 .55-.188 1.075-.187.525-.537.95l3.525 3.475Zm-5.5-3.425q1.075 0 1.813-.725.737-.725.737-1.8 0-1.075-.737-1.813-.738-.737-1.813-.737-1.05 0-1.787.737-.738.738-.738 1.813 0 1.05.725 1.788.725.737 1.8.737Zm1.675-8.425q-.175-.05-.325-.075l-.3-.05 4.45-7.1.525.4Z" />
              </svg>
              Estadísticas
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>