<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Formularios</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
  <style>
    .modal-full-width {
      max-width: none !important;
      margin: 0 1rem !important;
    }
  </style>
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../partials/header') %>
    <%- include('../../partials/navbar', {opcion: 'ADMINISTRACION'}) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <form action="/admin/cargas/insert" method="POST" onsubmit="return validate();">
                  <div class="card-header">
                    <h3 class="card-title">Carga</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">Descriptión</label>
                            <input type="text" name="descar" id="descar" class="form-control" style="text-transform: uppercase;" value=""/>
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-8">
                        <div class="mb-1">
                          <label class="form-label required">Nombre de fichero</label>
                          <div class="input-group input-group-flat">
                            <input type="text" name="ficcar" id="ficcar" class="form-control" value=""
                              placeholder="Nombre de fichero con extención" />
                            <span class="input-group-text">
                              <a href="#" class="link-secondary" data-bs-toggle="modal" data-bs-target="#modal-info">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke-width=".4" fill="none"
                                    d="M11.7 16.275h.625V11H11.7ZM12 9.8q.225 0 .35-.125.125-.125.125-.35 0-.225-.125-.35-.125-.125-.35-.125-.2 0-.337.125-.138.125-.138.35 0 .2.125.337.125.138.35.138Zm0 10.775q-1.775 0-3.337-.675-1.563-.675-2.725-1.838Q4.775 16.9 4.1 15.337 3.425 13.775 3.425 12q0-1.775.675-3.338.675-1.562 1.838-2.725Q7.1 4.775 8.663 4.1q1.562-.675 3.337-.675 1.775 0 3.338.675 1.562.675 2.724 1.837Q19.225 7.1 19.9 8.662q.675 1.563.675 3.338 0 1.775-.675 3.337-.675 1.563-1.838 2.725-1.162 1.163-2.724 1.838-1.563.675-3.338.675Zm0-.65q3.325 0 5.638-2.3 2.312-2.3 2.312-5.625t-2.312-5.638Q15.325 4.05 12 4.05q-3.3 0-5.612 2.312Q4.075 8.675 4.075 12q0 3.3 2.3 5.613 2.3 2.312 5.625 2.312ZM12 12Z" />
                                </svg>
                              </a>
                            </span>
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">
                              Referencia
                            </label>
                            <input type="text" name="refcar" id="refcar" class="form-control" value=""
                              maxlength="11" />
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end">
                    <div class="d-flex">
                      <input class="btn btn-white" action="action" onclick="window.history.go(-1); return false;" type="submit" value="Cancelar" />
                      <button type="submit" class="btn btn-success ms-auto" id="btnInsert">Crear carga csv</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </div>

  <div class="modal modal-blur fade" id="modal-info" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full-width modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-status bg-primary"></div>
        <div class="modal-body text-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-blue icon-lg" width="24" height="24"
            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <circle cx="12" cy="12" r="9"></circle>
            <line x1="12" y1="8" x2="12.01" y2="8"></line>
            <polyline points="11 12 12 12 12 16 13 16"></polyline>
          </svg>
          <h3>Estructura fichero</h3>
          <div class="text-muted">
            <h3>Cabecera</h3>
            <h4>
              NIF;NOMBRE;EMAIL;TELEFONO;MOVIL;TIPO;EJERCICIO;OFICINA;OBSERVACION;FUNCIONARIO;LIQUIDADOR;ESTADO;CONTROL
            </h4>
            <h3>Descripción de los campos</h3>
            <h4 class="m-0">
              Campo nif de 12 caracteres máximo. No puede ser nulo.
            </h4>
            <h4 class="m-0">
              Campo nombre de 128 caracteres máximo. No puede ser nulo. Va
              encomillado si existen caracteres especiales.
            </h4>
            <h4 class="m-0">
              Campo email de 128 caracteres máximo. Puede ser nulo.
            </h4>
            <h4 class="m-0">
              Campo teléfono de 9 caracteres. Puede ser nulo.
            </h4>
            <h4 class="m-0">
              Campo móvil de 9 caracteres. Puede ser nulo.
            </h4>
            <h4 class="m-0">
              Campo tipo es numérico. No puede ser nulo. Debe coincidir con su
              correspondiente tipo definido en la base de datos
            </h4>
            <h4 class="m-0">
              Campo ejercicio es numérico de 4 posiciones. No puede ser nulo.
            </h4>
            <h4 class="m-0">
              Campo oficina es numérico. No puede ser nulo. Debe coincidir con
              su correspondiente oficina definida en la base de datos
            </h4>
            <h4 class="m-0">
              Campo observación de 4000 caracteres máximo. Puede ser nulo. Va
              encomillado si existen caracteres especiales.
            </h4>
            <h4 class="m-0">
              Campo funcionario debe contener el texto "SYSTEM".
            </h4>
            <h4 class="m-0">
              Campo liquidador es alfanumérico. No puede ser nulo. Va
              encomillado. Debe coincidir con su correspondiente userid
              definido en la base de datos
            </h4>
            <h4 class="m-0">
              Campo estado es numério de 2 posiciones. No puede ser nulo.
              Puede contener o el valor 0 o el valor 1
            </h4>
            <h4 class="m-0">
              Si el campo estado contiene el valor 0 (registro pendiente) el
              campo liquidador debe contener el texto "PEND"
            </h4>
            <h4 class="m-0">
              Si el campo estado contiene el valor 1 (registro asignado) el
              campo liquidador debe contener el userid del liquidador asignado.
            </h4>
            <h4 class="m-0">
              Campo control es nulo.
            </h4>
            <h4 class="m-0 pt-2 text-start">
              Notas:
              <h4 class="m-0 text-start">
                La cabecera es obligatoria.
              </h4>
              <h4 class="m-0 text-start">
                Debe existir el fichero que se va a procesar en el directorio
                m:/filcopy/02051143/FRAUDE
              </h4>
            </h4>
          </div>
        </div>
        <div class="modal-footer">
          <div class="w-100">
            <div class="row">
              <div class="col">
                <a href="#" class="btn btn-white w-100" data-bs-dismiss="modal">Salir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/ayuda.min.js"></script>
  <script src="/js/admin/addCarga.min.js"></script>
</body>
</html>
